<h2 id="header_top">Post about Campus Cutie Kevin Morrissey!</h2>

<div id="writing">
<p>Select a Category for your post!</p> 
<ul>
  <li>
    An <b>Anecdote</b> is a story that you have
    about Campus Cutie Kevin Morrissey! I always like hearing more stories about
    Campus Cutie Kevin Morrissey. That way I can have more knowledge about
    Campus Cutie Kevin Morrissey!
  </li>
  <li>
    A <b>High Praise</b> is a complement that you have about Campus Cutie Kevin
    Morrissey. I already know all of them, but I figured I'd let you write a 
    few! ;)
  </li>
  <li>
    A <b>Birthday Wish</b> is a chance to say "Happy Birthday" to Campus Cutie
    Kevin Morrissey. Campus Cutie Kevin Morrissey's 23rd birthday is coming up
    on June 17th, so say "Happy Birthday" soon!
  </li>
</ul>
<p>Also, Mom said that if the posts are inappropriate, then I have to take them
down, so be nice on the posts!
</p>

<%= render 'form' %>

<%= link_to 'Back to Posts!', posts_path %>
</div>
