<h2 id="header_top">Comments about this post!</h2>

<div class="purple"><%= link_to_function 'Back to Posts!', "history.back()" %></div>

<%= render @post %>

<div id="comments">
<%= render @post.comments.order('created_at') %>

<% if can? :create, Comment %>
  <%= render "comments/form" %>
<% end %>
</div>
