<h2 id="header_top">About Me!</h2>
<p>
  Hi! My name is Taylor and I am Campus Cutie Kevin Morrissey's biggest fan!
  Ever since I saw Campus Cutie Kevin Morrissey's performance in Tufts Dance
  Collective, I've been hooked! I am 12 years old and have been operating this 
  web Internet site page since my brother Sanchez made it for me when I was 11.
  I have a pet cat named "Princess Schmoopie" (I named her when I was five), 
  and my favorite TV Show is Teen Titans. In school, my favorite subjects are 
  lunch and when I get on the bus to go home. I also have an older sister named 
  Seamus, but she is in college, so she isn't home right now.
</p>
<h2>About My Brother Sanchez!</h2>
<p class="sanchez">
  Yeah my name is Sanchez and I'm Taylor's older brother. I didn't get anything 
  for Taylor's birthday last year or any other year so I had to make this 
  website for Taylor because Mom said so. I also found a bunch of photos of that
  guy with those famous celebrities for Taylor, and transcribed that totally 
  real biography too. So, yeah. That's about all you need to know about me. 
</p>
<p class="sanchez">
  Oh, I'm also in a heavy metal band called "Pimp Slap". I play bass, my friend
  Cheese plays drums and does the vocals, my other friend Serpico plays guitar,
  and my stupid cousin Leonard plays the synthesizer. My Aunt Lucifer had my Mom
  make me put him in the band. Check our 
  <%= link_to 'Myspace', 'http://www.myspace.com/pimpslapaus/music' %>. We only
  have one track up, but it's called "Piggy Wank" and it's awesome, except for
  the stupid synthesizer parts that we had to put in. We have other awesome
  songs though, and we're going to put them on our MySpace page soon. Among our
  principle influences are Dave Grohl, Mission Impossible, Dain Bramage, Scream,
  Nirvana, Late!, The Backbeat Band, Foo Fighters, Harlingtox A.D., 
  Probot, Killing Joke, Them Crooked Vultures, Queens Of The Stone Age, and, our
  biggest influence, Tenacious D.
</p>
