<h2 id="header_top">A Short Biography of Campus Cutie Kevin Morrissey</h2>
<div id="writing">
<p>
  Here is a biography of Campus Cutie Kevin Morrissey that I found in my local
  library! I had my brother Sanchez type it up for me, since it had a lot of 
  words in it that I didn't understand. ;( I hope you enjoy it!
</p>
</div>
